@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1: {
    @apply text-[32px] leading-[120%] tracking-[0px] font-bold;
  }
  h2: {
    @apply text-[20px] leading-[120%] tracking-[0px] font-bold;
  }
  h3: {
    @apply text-[16px] leading-[150%] tracking-[0px] font-bold;
  }
  h4: {
    @apply text-[14px] leading-[150%] tracking-[0px];
  }
  p: {
    @apply text-[12px] leading-[150%] tracking-[0px];
  }
}
